@import 'bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-red: #e50914;
    --dark-red: #b20710;
    --dark: #000000;
    --gray: #878E88;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--dark);
    font-family: "Inter Tight", sans-serif;
    color: white;
    font-size: 14px;
}

.rectangle-bg {
    background: #751015;
background: linear-gradient(0deg, rgba(117, 16, 21, 0.5) 20%, rgba(0, 0, 0, 0.43) 100%);
}

.rectangle-inverse {
    background: #751015;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.43)  20%, rgba(117, 16, 21, 0.5) 100%);
}

.full-bg {
    background: #751015;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.43) 20%, rgba(117, 16, 21, 0.5) 50%, rgba(0, 0, 0, 0.43) 100%);
}

.card-img1 {
    width:250px;
    height:400px;
    object-fit: cover;
    object-position: 50% 50%; 
    box-shadow:5px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

.btn1 {
    border:solid 2px var(--primary-red);
    background-color: var(--primary-red);
    display:inline-block;
    min-width: fit-content;
    color: white;
    font-weight: 500;
    border-radius: 8px;
    height: fit-content;
    -webkit-box-shadow: 5px 5px 11px 9px rgba(178,7,16,0.2), inset 5px 5px 25px 9px rgba(117,16,21,0.4); 
    box-shadow: 5px 5px 11px 9px rgba(178,7,16,0.2), inset 5px 5px 25px 9px rgba(117,16,21,0.4);
}

.btn1:hover {
    border:solid 2px var(--dark-red);
    background-color: var(--dark-red);
    color: white;
    scale:1.05;
}

.btn2 {
    border:solid 2px var(--primary-red);
    background-color: transparent;
    color: var(--primary-red);
    display:inline-block;
    min-width: fit-content;
    font-weight: 500;
    border-radius: 8px;
    height: fit-content;
    -webkit-box-shadow: 5px 5px 11px 9px rgba(178,7,16,0.2), inset 5px 5px 25px 9px rgba(117,16,21,0.4); 
    box-shadow: 5px 5px 11px 9px rgba(178,7,16,0.2), inset 5px 5px 25px 9px rgba(117,16,21,0.4);
}

.btn2:hover {
    border:solid 2px var(--primary-red);
    color: var(--primary-red);
    scale:1.05;
}

.card-img2 {
    object-fit: cover;
    object-position: 50% 50%; 
}

.film_card {
    position: relative;
    display: block;
    width: 80%;
    height: 35%;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.4s;
}

.film_card:hover {
    transform: scale(1.02);
    transition: all 0.4s;
}

.info_section {
    position: relative;
    width: 100%;
    height: 100%;
    background-blend-mode: multiply;
    z-index: 2;
    border-radius: 10px;
    background: linear-gradient(to right, #0d0d0c 50%, transparent 100%);
}

.film_header {
    position: relative;
    padding: 25px;
    height: 40%;
}

.film_header > h2 {
    color: #fff;
    font-weight: 500;
}

.film_header > h4 {
    color: var(--gray);
    font-weight: 400;
    font-size: 18px;
}

.minutes {
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid rgba(255,255,255,0.13);
}

.genre {
    display: inline-block;
    color: var(--gray);
    font-weight: 500;
    margin-left: 10px;
}

.film_desc .text {
    color: #ffffff;
}

.blur_bg {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%; 
    right: 0;
    background-size: cover;
    object-position: center;
    border-radius: 11px;
}

.shade {
    box-shadow: 0px 0px 150px -45px rgba(255, 51, 0, 0.5);
}
.shade:hover{
    box-shadow: 0px 0px 120px -55px rgba(255, 51, 0, 0.5);
}

